body {
    background: #fff;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#content {
    height: 100vh;
    width: 100%;
}

#ball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background: #000;
    color: #fff;
    text-align: center;
    align-items: center;
}

.line {
    position: absolute;
    z-index: 20;
}